<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBXN36iU4_yQFkmiGsxB9Peopf-R8PU04</string>
	<key>GCM_SENDER_ID</key>
	<string>583917826000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>flick-frenzy-fbea8</string>
	<key>STORAGE_BUCKET</key>
	<string>flick-frenzy-fbea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583917826000:ios:dbf1b7c511abc2499f53d5</string>
</dict>
</plist>